<ng-container *ngIf="contents; else loading">
    <ng-container *ngFor="let c of contents$ | async as contents">
    </ng-container>
</ng-container>
<ngb-carousel *ngIf="contents.length > 0">
  <ng-template ngbSlide  *ngFor="let cont of contents; let i = index" id="{{i}}" >
    <img [src]='cont.imgRoute' alt="{{cont.Alt}}">
    <div @fade class="carousel-caption">
      <h3>{{cont.category}}</h3>
      <p>{{cont.content}}</p>
    </div>
    <div class="carousel-gradient"></div>
  </ng-template>
  <ng-template #loading>
    <h1>Loading</h1>
  </ng-template>
</ngb-carousel>
