nav {
    background: transparent;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
    perspective: 600px;
    a {
        color: $dark-gray;
        text-decoration: none;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        perspective: 400px;
        transition: all 1.2s $soft-bounce;
        .logo {
            // transform-style: preserve-3d;
            position: relative;
            background: $dark-gray;
            color: $light-green;
            border-radius: 100%;
            font-size: 1rem;
            padding: 16px;
            display: flex;
            flex-direction: column;
            box-shadow: $main-box-shadow $shadow;
            cursor: pointer;
            transition: all ease-out .8s;
            &.show {
                background: $light-green;
                color: $dark-gray;
                box-shadow: inset 5px 4px 7px 4px $shadow;
            }
        }
        &:hover {
            // @include transform(rotateY(.1turn));
            span:nth-child(2) {
                @include transform(rotateZ(0deg));
            }
        }
        span:nth-child(1) {
            z-index: 99;
        }
        span:nth-child(2) {
            z-index: 98;
            padding: 10px;
            transform-origin: -100% 0%;
            @include transform(rotateZ(-90deg));
            padding-left: 10px;
            color: $light-green;
            text-shadow: $main-text-shadow $shadow;
            transition: all 1s $soft-bounce;
        }
    }
}

