// Color variables
$dark-gray: #333;
$light-gray: #ddd;
$light-green: #ddf845;
$shadow: rgba(0,0,0,.4);
$twitter-blue: rgb(0, 198, 255);
$facebook-blue: rgb(59, 89, 152);
$linkedin-blue: #0077b5;

// Media Query variables
$iphone-plus: "only screen and (max-width : 414px)";
$iphone-plus-land: "only screen and (max-width : 736px)";

//Bounce
$bounce: cubic-bezier(0.82,-0.65, 0.28, 1.77);
