<span class="follow-wrapper" >
    <span class="follow btn" (click)="show=!show" [ngClass]="show ? 'show' : ''" title="Click me...">
        <fa-icon [icon]="faPlus"></fa-icon>
    </span>
    <span class="follow linkedin" [ngClass]="show ? 'show' : ''">
        <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </span> 
    <span class="follow facebook" [ngClass]="show ? 'show' : ''">
        <fa-icon [icon]="faFacebookF"></fa-icon>
    </span>
    <span class="follow twitter" [ngClass]="show ? 'show' : ''">
        <fa-icon [icon]="faTwitter"></fa-icon>
    </span>
</span>
