<nav *ngFor="let i of constants">
  <a @fade routerLink="home">
      <span class="logo" [ngClass]="show ? 'show' : ''">
        <fa-icon [icon]='i.logo.icon'></fa-icon> 
      </span>
      <span>
        <h3>{{i.siteName}}</h3>
      </span>
  </a>
  <div @move class="nav-toggler" (click)="show=!show" [ngClass]="show ? 'show' : ''">
    <span class="tog-bar bar1" [ngClass]="show ? 'show' : ''"></span>
    <span class="tog-bar bar2" [ngClass]="show ? 'show' : ''"></span>
    <span class="tog-bar bar3" [ngClass]="show ? 'show' : ''"></span>
  </div>
</nav>
<div class="side-wrapper" [ngClass]="show ? 'show' : ''">
  <ul class="side-menu">
    <li (click)="show=!show"><a routerLink="/">Home</a></li>
    <li (click)="show=!show"><a routerLink="services">Services</a></li>
    <li (click)="show=!show"><a routerLink="about">About</a></li>
    <li (click)="show=!show"><a routerLink="contact">Contact</a></li>
  </ul>
</div>
