* {
  padding: 0;
  margin: 0;
}

nav {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
}

nav .logo {
  padding-left: 16px;
}

nav a {
  color: #333;
  text-decoration: none;
}

.nav-toggler {
  position: relative;
  border: none;
  padding: 16px;
  z-index: 100;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 0 8px 20px -5px #b3b3b3;
          box-shadow: 0 8px 20px -5px #b3b3b3;
}

.nav-toggler:hover .tog-bar.bar1 {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.nav-toggler:hover .tog-bar.bar3 {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.nav-toggler:focus {
  outline: none !important;
}

.nav-toggler::before {
  z-index: 98;
  top: 50%;
  left: 50%;
  position: absolute;
  content: '';
  background: transparent;
  width: 0%;
  height: 0%;
  -webkit-transition: all 0.5s cubic-bezier(0.82, -0.65, 0.28, 1.77);
  transition: all 0.5s cubic-bezier(0.82, -0.65, 0.28, 1.77);
}

.nav-toggler.show::before {
  top: 0px;
  left: 0px;
  content: '';
  background: #333;
  border-bottom-left-radius: 15px;
  width: 100%;
  height: 100%;
}

.nav-toggler .tog-bar {
  margin: 0 auto 0 auto;
  z-index: 99;
  border: 3px solid #333;
  border-radius: 100%;
  margin: 0px 0px;
  width: 1px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav-toggler .tog-bar:nth-child(2) {
  margin: 5px 0px;
}

.nav-toggler .tog-bar.show {
  border-radius: 6px;
  border-color: #ddf845;
}

.nav-toggler .tog-bar.bar1, .nav-toggler .tog-bar.bar3, .nav-toggler .tog-bar.bar2 {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-toggler .tog-bar.bar1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.nav-toggler .tog-bar.bar1.show {
  width: 20px;
  -webkit-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
}

.nav-toggler .tog-bar.bar2.show {
  opacity: 0;
}

.nav-toggler .tog-bar.bar3 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.nav-toggler .tog-bar.bar3.show {
  width: 20px;
  -webkit-transform: translate(0, -11px) rotate(45deg);
          transform: translate(0, -11px) rotate(45deg);
}

.the-wrapper {
  padding: 50px 16px 10px 16px;
}

footer {
  background: #333;
  color: #ddf845;
  padding: 16px;
}
/*# sourceMappingURL=styles.css.map */